<div class="user">
  <p>
    <%= link_to user.to_s, user %>
    (<%= user.name %>) &nbsp; 
    <%= user.posts_count %> posts,
    <%= user.followers_count %> followers,
    <%= user.followings_count %> followings
  </p>
  <p><%= render 'users/follow', :user => user if user_signed_in? %></p>
</div>