<div class="grid_9">

  <h2><%= @user %>'s feed</h2>

  <%= render 'posts/form' if user_signed_in? %>

  <div id="videos">
    <%= render @feed_items %>
  </div>

  <div id="pageless"></div>
  <%= will_paginate @feed_items %>
  <%= pageless @feed_items.total_pages, user_feed_path(@user) %>

</div>

<div class="grid_3">

  <p>...</p>

</div>
