<div class="grid_10">

  <h2><%= @user %></h2>

  <div id="videos">
    <%= render @posts %>
  </div>

  <div id="results"></div>
  <%= will_paginate @posts %>
  <%= pageless @posts.total_pages, user_path(@user) %>

</div>

<div class="grid_2">

  <h2>sidebar</h2>
  
  <div id="follow">
    <%= render 'users/follow', :user => @user %>
  </div>

</div>
