<div class="grid_12">
  <h2>forgot your password?</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label :email, 'email' %><br />
    <%= f.text_field :email %></p>

    <p><%= f.submit "send me reset password instructions" %></p>
  <% end %>
</div>