<div class='video'>
  <%= link_to video_embed(video), class: 'fancybox iframe' do %>
  <div class='thumb-frame'>  
    <%= image_tag video.thumbnail_url %>
    <div class="overlay">
      <div class="overlay_copy">
        <span>fed by</span>
        <div class= "overlay_user">
        <%= video.first_person.name %>
        </div>
        <div class='views'>
          <%= "<div class='small'>at</div> #{number_with_delimiter(video.views)} views".html_safe if video.views %>
        </div>   
      </div>
    </div><!-- overlay -->
  </div>
    <div class="video_title">
      <%= video.title %>
    </div><!-- video_title -->
  <% end %>
</div><!-- video -->
