<div class="grid_10">

  <h2>videos</h2>

  <%= render 'posts/form' if user_signed_in? %>

  <div id="videos">
    <% @videos.each do |video| %>
      <h3><%= link_to video.title, video %></h3>
      <%= render 'videos/video', :video => video %>
    <% end if @videos %>
  </div>

  <div id="results"></div>
  <%= will_paginate(@videos) %>
  <%= pageless(@videos.total_pages, root_path) %>

</div>

<div id="users" class="grid_2">

  <h2>following</h2>

  <p>...</p>

</div>
