<div class="grid_10">

  <h2>your feed</h2>

  <%= render 'posts/form' if user_signed_in? %>

  <div id="videos">
    <% @feed_items.each do |feed_item| %>
    <div class="video">
      <p><%=raw feed_item.cached_post['video']['html'] %></p>
      <p>
        <%= link_to feed_item.cached_post['video']['to_s'], feed_item.cached_post['video']['to_param'] %>
        via <%= link_to feed_item.cached_post['user']['to_s'], feed_item.cached_post['user']['to_param'] %>
      </p>
    </div>
    <% end if @feed_items %>
  </div>

  <div id="results"></div>
  <%= will_paginate(@feed_items) %>
  <%= pageless(@feed_items.total_pages, feed_path) %>

</div>

<div id="users" class="grid_2">

  <h2>sidebar</h2>

  <p>...</p>

</div>
