<div class="grid_12">
  <h2>sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <p><%= f.label :email, 'email' %><br />
    <%= f.text_field :email %></p>

    <p><%= f.label :password, 'password' %><br />
    <%= f.password_field :password %></p>

    <%= f.hidden_field :remember_me, :value => true %>

    <p><%= f.submit "sign in" %></p>
  <% end %>

  <p><%= link_to "forgot your password?", new_password_path(resource_name) %></p>

</div>

<script>$('#user_email').focus();</script>