<!DOCTYPE html>
<html>
<head>
  <title>thevideofeed admin</title>
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= javascript_include_tag :all, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
