<!DOCTYPE html>
<html>
<head>
  <title>thevideofeed admin</title>
  <%= asset_resource_stylesheets %>
  <%= asset_resource_javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
