<!DOCTYPE html>
<html>
  <head>
    <title>The Video Feed</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "logo_favicon.png" %>
  </head>
  <body>
    <aside>
      <article>
        <h1><%= link_to "THE VIDEO FEED", root_path %></h1>

        <p2>VIDEOS FAVORITED BY:</p2>
          <div id="people">
            <% Person.all.sort_by(&:name).each do |person| %>
              <p><%= link_to person.name, person %></p>
            <% end %>
          </div>

          <div id="subscribers">
            <p3>GET THE DAILY DIGEST</p3>

            <% if flash[:notice] %>
              <p><%= flash[:notice] %></p>
            <% else %>
              <%= form_for(Subscriber.new) do |f| %>
                <p><%= f.email_field :email, placeholder: 'you@example.com', class:"entry" %></p>
                <p><%= f.submit "Feed me", class:"submit" %></p>
              <% end %>
            <% end %>
          </div>

        </article><%= link_to image_tag("logo_medium.png"), root_path, class: "logo" %>
      </aside>
      <header></header>

    <div class="video_row">
      <%= yield %>
    </div>
  </body>
</html>
