<!DOCTYPE html>
<html>
  <head>
    <title>The Video Feed</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= image_tag('logo.png') %>
      <h1><%= link_to 'The Video Feed', root_path %></h1>

      <div id="subscribers">
        <%= form_for(@subscriber) do |f| %>
          <p>Get an email at 5pm if new videos are added:</p>
          <p><%= f.email_field :email, placeholder: 'you@example.com' %></p>
          <p><%= f.submit "Sign up" %></p>
        <% end %>

        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>
      </div>

      <div id="people">
        <p>Videos favorited by:</p>

        <% Person.all.each do |person| %>
          <p><%= link_to person.username, "/#{person.username}" %></p>
        <% end %>
      </div>
    </header>

    <article>
      <%= yield %>
    </article>
  </body>
</html>
