<!DOCTYPE html>
<html>
<head>
  <title>thevideofeed</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= render 'shared/google_analytics' if CONFIG['google_analytics'] %>
</head>
<body>
  <div id="container" class="container_12">
    <div id="header" class="grid_6">
      <h1><%= link_to 'the video feed', root_path %></h1>
    </div><!-- header -->
    <div id="status" class="grid_6">
      <%= render 'shared/status' %>
    </div><!-- status -->
    <div id="flash" class="grid_12">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" unless msg.blank? %>
      <% end %>
    </div><!-- flash -->
    <div class="clear"></div>
    <%= yield %>
    <div class="clear"></div>
    <div id="footer" class="grid_12">
      <p>&nbsp;</p>
    </div><!-- footer -->
  </div><!-- container -->
</body>
</html>
